body {
  margin: 0;
  padding: 0;
  overflow: hidden;
}
/* Hide the Google logo */
.gm-style-cc {
  display: none;
}

/* Hide the map terms and conditions */
.gm-fullscreen-control {
  display: none;
}
.gm-style div:nth-child(14) img {
  display: none;
}
.pac-container {
  z-index: 10300 !important; /* Ensure the dropdown appears above everything */
  background: white; /* Ensure dropdown is visible */
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1); /* Optional: Add shadow for better visibility */
  /* border-radius: 0 0 10px 10px; */
  border-radius: 10px;
  animation: reveal 0.1s ease-in-out forwards;
}
@keyframes reveal {
  0%{
    opacity: 0;
  }
  100%{
    opacity: 1;
  }
}
.pac-logo:after{
  display: none;
}