.container {
  z-index: 10000;
  position: absolute;
  bottom: 0;
  left: 50%;
  transform: translate(-50%, 0);
  width: 100vw;
  display: flex;
  justify-content: space-around;
  padding: 0.6rem 0;
  backdrop-filter: blur(10px);
  /* background-color: rgba(0, 0, 0, 0.651); */
  animation: reveal 0.5s ease-in-out forwards;
}
@keyframes reveal {
  0%{
    bottom: -2rem;
  }
  100%{
    bottom: 0;
  }
}
.container .loadingShade {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  background-color: #009900;
  z-index: 100;
  width: 0%; /* Start with 0 width */
}

.container .loading {
  animation: loading var(--animation-duration, 5s) cubic-bezier(0.42, 0.0, 0.58, 1.0) forwards;
}

@keyframes loading {
  0% {
    width: 0%;
  }
  100% {
    width: 100%;
  }
}

.container button {
  transition: all 0.1s ease-in-out;
  z-index: 1000;
}
.container button:nth-child(1) {
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0.35rem 0.45rem;
  background-color: black;
  border-radius: 50%;
}
.container button:nth-child(2) {
  border-radius: 10px;
  border: none;
  padding: 0 1rem;
  background-color: black;
  color: white;
  font-size: 0.9rem;
  font-family: "Franklin Gothic Medium", "Arial Narrow", Arial, sans-serif;
  letter-spacing: 0.05rem;
  font-weight: 600;
}
.container button:nth-child(3) {
  border: none;
  background-color: black;
  padding: 0.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
}
.container button:active {
  transform: scale(0.95, 0.95);
  opacity: 0.5;
}