.container {
  position: absolute;
  left: 50%;
  transform: translate(-50%, 0%);
  z-index: 10000;
  width: 100vw;
  /* backdrop-filter: blur(10px); */
  /* border: solid white 2px; */
  /* box-shadow: 0 0 15rem #00ffffc2; */
}
.container form {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 0.6rem;
  margin: 0.6rem 0;
}
.container form input {
  width: 77vw;
  font-size: 0.7rem;
  padding: 0.6rem 0.8rem;
  background-color: white;
  /* background-color: white; */
  position: relative;
  left: 1rem;
  border-radius: 15px;
  font-family: "Lucida Sans", "Lucida Sans Regular", "Lucida Grande",
    "Lucida Sans Unicode", Geneva, Verdana, sans-serif;
  border: none;
}
.container form input::placeholder {
  color: rgba(0, 0, 0, 0.575);
}
.originInputContainer {
  position: relative;
}
.originInputContainer button {
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.858);
  border-radius: 50%;
  border: none;
  position: absolute;
  padding: 0.3rem;
  right: -0.6rem;
  transform: translate(0, -50%);
  animation: reveal 0.1s ease-in-out forwards;
}
@keyframes reveal {
  0% {
    top: 40%;
    opacity: 0;
  }
  100% {
    top: 50%;
    opacity: 1;
  }
}
.logo {
  position: absolute;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: center;
  top: 0.2rem;
  left: -1rem;
  gap: 0.2rem;
}
.mainDot {
  height: 1.2rem;
  width: 1.2rem;
  background-color: #7dc2e2;
  border-radius: 50%;
  position: relative;
}
.mainDot::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  background-color: white;
  left: 50%;
  top: 50%;
  transform: translate(-50%, -50%);
  height: 0.8rem;
  width: 0.8rem;
  z-index: 1;
  border-radius: 50%;
}
.dot {
  height: 0.4rem;
  width: 0.4rem;
  background-color: white;
  border-radius: 50%;
}
.destinationInputContainer {
  display: flex;
  position: relative;
}
.destinationInputContainer button {
  border: none;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.858);
  right: 0;
  top: 50%;
  transform: translate(30%, -50%);
  border-radius: 50%;
  padding: 0.3rem;
  display: flex;
  justify-content: center;
  align-items: center;
  animation: reveal 0.2s ease-in-out forwards;
}
